<div class="container-fluid">
  <div class="row">
    <!--<div class="col-md-1"></div>-->
    <div class="col-md-12">

      <h2>{{tituloLista}}</h2>
      <input type="text"  [(ngModel)]="buscarTodo" placeholder="Tu busqueda aqui....">
      <button class="btn btn-success btn-sm" (click)="buscar(buscarTodo)">Buscar</button>
      <br><br>
      <button class="btn btn-info" (click)="limpiarFiltros()">Nueva Busqueda</button>
      <table class="table table-bordered " >
        <thead>
        <tr>
          <th [hidden]="ocultarCodigo">
            <div class="row">
              <div  class="col-sm-12">Código
                <input class="colorLetra" type="text" [(ngModel)]="FiltrosTabla.codigo" placeholder="buscar">
              </div>
            </div>
          </th>
          <th [hidden]="ocultarEmpresa">
            <div class="row">
              <div class="col-sm-3">
                <div class="divider"></div>Empresa
                <input class="colorLetra" type="text" [(ngModel)]="FiltrosTabla.nombreEmpresa" placeholder="buscar">
              </div>
            </div>
          </th>
          <th [hidden]="ocultarDepartamento">
            <div class="row">
              <div class="col-sm-12">
                <div class="divider"></div>Departamento
                <input class="colorLetra" type="text" [(ngModel)]="FiltrosTabla.nombreDepartamento" placeholder="buscar">
              </div>
            </div>
          </th>
          <th [hidden]="ocultarEstado">
            <div class="row">
              <div class="col-sm-12">
                <div class="divider"></div>Estado
                <input class="colorLetra" type="text" [(ngModel)]="FiltrosTabla.estado" placeholder="buscar">
              </div>
            </div>
          </th>
          <th [hidden]="ocultarFecha">
            <div class="row">
              <div class="col-sm-12">
                <div class="divider"></div>Fecha
                <input class="colorLetra" type="text" [(ngModel)]="FiltrosTabla.fecha" placeholder="buscar">
              </div>
            </div>
          </th>

          <!--
          <th [hidden]="ocultarDescripcion">
            <div class="row">
              <div class="col-sm-12">
                <div class="divider"></div>Descripción
              </div>
            </div>
          </th>
          -->

          <th [hidden]="ocultarAccion">Editar</th>
        </tr>
        </thead>
        <tbody *ngFor="let dato of Datos |  sortByAttr : Ordenar | filterBy: FiltrosTabla | paginate: { itemsPerPage: 10, currentPage: p } ">
        <tr>
          <td [hidden]="true">{{dato.id}}</td>
          <td [hidden]="ocultarCodigo">{{dato.codigo}}</td>
          <td [hidden]="ocultarEmpresa">{{dato.nombreEmpresa}}</td>
          <td [hidden]="ocultarDepartamento">{{dato.nombreDepartamento}}</td>
          <td [hidden]="ocultarEstado">{{dato.estado}}</td>
          <td [hidden]="ocultarFecha">{{dato.fecha}}</td>
          <!--<td [hidden]="ocultarDescripcion">{{dato.descripcion}}</td>-->
          <td [hidden]="ocultarAccion"><urbe-modal-actualizar [ocultar]="true"
                                                              (salida)="ver($event,dato)">

          </urbe-modal-actualizar></td>

        </tr>

        </tbody>
      </table>
      <pagination-controls (pageChange)="p = $event" #api></pagination-controls>

    </div>
    <!--<div class="col-md-1"></div>-->
  </div>
</div>
