
<div class="container fondoInicio">
  <ul class="nav nav-pills ">

    <li>
      <a  [routerLink]="['/']">
        INICIO
      </a>
    </li>
    <li><a  [routerLink]="['/crear']">Crear Codigo</a></li>
    <li><a  [routerLink]="['/listarc']">Ver codigos</a></li>

    <!--<li class="dropdown">-->
      <!--<a  class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Crear Codigo <span class="caret"></span></a>-->
      <!--<ul class="dropdown-menu">-->
        <!--<li><a  [routerLink]="['/artista']">Artista</a></li>-->
        <!--<li><a  [routerLink]="['/listaArtista']">Lista de Artistas</a></li>-->

      <!--</ul>-->
    <!--</li>-->



  </ul>
  <br><br>

  <router-outlet></router-outlet>




</div>



