<div class="container">
  <div class="row">
    <h1>{{tituloAdmin}}</h1>


    <div class="row">
      <div class="col-sm-6 col-md-4">
        <div class="thumbnail">

          <div class="caption">
            <h3>Usuarios</h3>
            <p>Gestión de Usuarios, asignación de roles, suspencion de cuentas</p>
            <p><a href="#" class="btn btn-success" role="button">Crear</a> <a href="#" class="btn btn-warning"
                                                                              role="button">Editar</a></p>
          </div>
        </div>
      </div>
      <div class="col-sm-6 col-md-4">
        <div class="thumbnail">

          <div class="caption">
            <h3>Empresas</h3>
            <p>Gestión de Empresas, agregar, modificar, dar de baja</p>
            <p><a href="#" class="btn btn-success" role="button">Crear</a> <a href="#" class="btn btn-warning"
                                                                              role="button">Editar</a></p>
          </div>
        </div>
      </div>
      <div class="col-sm-6 col-md-4">
        <div class="thumbnail">

          <div class="caption">
            <h3>Departamentos</h3>
            <p>Gestión de Departamentos de las Empresas existentes, agregar, modificar, dar de baja</p>
            <p><a href="#" class="btn btn-success" role="button">Crear</a> <a href="#" class="btn btn-warning"
                                                                              role="button">Editar</a></p>
          </div>
        </div>
      </div>
      <div class="col-sm-6 col-md-4">
        <div class="thumbnail">

          <div class="caption">
            <h3>Prendas</h3>
            <p>Gestión de Prendas que se diseñan, agregar, modificar, dar de baja</p>
            <p><a href="#" class="btn btn-success" role="button">Crear</a> <a href="#" class="btn btn-warning"
                                                                              role="button">Editar</a></p>
          </div>
        </div>
      </div>
      <div class="col-sm-6 col-md-4">
        <div class="thumbnail">

          <div class="caption">
            <h3></h3>
            <p>...</p>
            <p><a href="#" class="btn btn-success" role="button">Crear</a> <a href="#" class="btn btn-warning"
                                                                              role="button">Editar</a></p>
          </div>
        </div>
      </div>
    </div>


  </div>
</div>
