<div class="container-fluid">


<app-loading [oculto]="modalOculto"></app-loading>
  <div class="row">

    <div class="col-sm-1"></div>

    <div class="col-sm-10">

      <h1>{{titulo}}</h1>


      <pre>
        <h1 align="center">{{nuevoCodigo.codigo }}</h1>
      </pre>

      <div class="row">

        <div class="col-md-6"></div>

        <div class="col-md-6 ">
          <button class="btn btn-info"  type="button" (click)="limpiar()">Nuevo</button>
          <form class=""  #NuevoCodigoForm="ngForm">

            <div class="form-horizontal">

              <div class="form-group">
                <label class="col-sm-4 control-label" for="periodo">Periodo</label>
                <div class="col-sm-8">
                  <select class="form-control" id="periodo"
                          required
                          [(ngModel)]="seleccionados.periodo" name="periodosEncontrados"
                          #periodosEncontrados="ngModel"
                          (click)="obtenerIdPeriodo(seleccionados.periodo)"
                  >
                    <option *ngFor="let periodo of periodos" [value]="periodo.periodo">{{periodo.periodo}}</option>
                  </select>
                  <!--<div [hidden]="periodosEncontrados.valid || periodosEncontrados.pristine" class="alert alert-danger">-->
                    <!--Periodo es requerido.-->
                  <!--</div>-->
                </div>
              </div>

              <div class="form-group">
                <label class="col-sm-4 control-label" for="empresa">Empresa</label>
                <div class="col-sm-8">
                  <select class="form-control" id="empresa"
                          required
                          [(ngModel)]="seleccionados.empresa" name="empresa2"
                          (click)="obtenerDepartamento(seleccionados.empresa); obtenerIdEmpresa(seleccionados.empresa)"
                          #empresa2="ngModel"
                          >
                    <option *ngFor="let empresa of empresas" [value]="empresa.codigo">{{empresa.nombre}}</option>
                  </select>
                  <!--<div [hidden]="empresa2.valid || empresa2.pristine" class="alert alert-danger">-->
                    <!--Debe seleccionar una empresa.-->
                  <!--</div>-->
                </div>
              </div>

                <div class="form-group">
                  <label class="col-sm-4 control-label" for="departamento3">Departamento</label>
                  <div class="col-sm-8">
                    <select class="form-control" id="departamento3"
                            required
                            [(ngModel)]="seleccionados.departamento" name="departamento2"
                            (click)="obtenerIdDepartamento(seleccionados.departamento)"
                            #departamento2="ngModel"

                    >

                      <option *ngFor="let depar of departamentosFiltrados" [value]="depar.codigo">{{depar.nombre}}</option>
                    </select>
                    <!--<div [hidden]="departamento2.valid || departamento2.pristine " class="alert alert-danger">-->
                      <!--Debe seleccionar un departamento.-->
                    <!--</div>-->
                  </div>
                </div>

              <div class="form-group">
                <label class="col-sm-4 control-label" for="prenda">Prenda</label>
                <div class="col-sm-8">
                  <select class="form-control" id="prenda"
                          required
                          [(ngModel)]="seleccionados.prenda" name="prenda2"
                          (click)="obtenerIdPrenda(seleccionados.prenda)"
                          #prenda2="ngModel"

                  >
                    <option *ngFor="let prenda of prendas" [value]="prenda.codigo">{{prenda.nombre}}</option>
                  </select>
                  <!--<div [hidden]="prenda2.valid || prenda2.pristine" class="alert alert-danger">-->
                    <!--Debe seleccionar una prenda.-->
                  <!--</div>-->
                </div>
              </div>

              <div class="form-group">
                <label class="col-sm-4 control-label" for="tejido">Tejido</label>
                <div class="col-sm-8">
                  <select class="form-control" id="tejido"
                          required
                          [(ngModel)]="seleccionados.tejido" name="tejido2"
                          #tejido2="ngModel"
                          (click)="obtenerIdTejido(seleccionados.tejido)">
                    <option *ngFor="let tejido of tejidos" [value]="tejido.codigo">{{tejido.nombre}}</option>
                  </select>
                  <!--<div [hidden]="tejido2.valid || tejido2.pristine" class="alert alert-danger">-->
                    <!--Debe seleccionar un tipo de Tejido.-->
                  <!--</div>-->
                </div>
              </div>

              <div class="form-group">
                <div class="col-sm-offset-4 col-sm-8">
                  <!--<button [disabled]="disabledButtons.NuevoCodigoFormSubmitButton||!NuevoCodigoForm.valid"-->
                          <!--class="btn btn-block btn-success"-->
                          <!--(click)="AbrirModalCrear(NuevoCodigoForm) "-->
                  <!--&gt;Crear-->
                  <!--</button>-->

                  <urbe-modal-confirmar [ocultar]="openModal"
                                        (Respuesta)="CrearCodigo(NuevoCodigoForm,$event)"
                                        [tituloModal]="'Confirmacion'"
                                        [Mensaje]="'Se creara el siguiente codigo'"
                                        [Codigo]="codigoCreado"
                                        (btnAbrir)="AbrirModalCrear(NuevoCodigoForm,$event)"


                  ></urbe-modal-confirmar>



                </div>
              </div>

            </div>
          </form>

          <h3>Para ver todos los codigos registrados <span> <button [routerLink]="['/listarc']" class="btn btn-link">Click Aqui</button></span> </h3>

        </div>
      </div>

    </div>
    <div class="col-sm-1"></div>
  </div>

</div>






