<h1>{{titulo}}</h1>

<div class="row">



  <div class="col-md-12">
    <form class="animated bounceIn" (ngSubmit)="crearCodigo(NuevoCodigoForm)" #NuevoCodigoForm="ngForm">

     <div class="row">
       <div class="col-sm-3"></div>
       <div class="col-sm-3"></div>
       <div class="col-sm-3"></div>
       <div class="col-sm-3">
         <div class="form-group">
           <label for="periodo">Periodo</label>

           <select class="form-control" id="periodo"
                   required
                   [(ngModel)]="seleccionados.periodo" name="periodosEncontrados"
                   #periodosEncontrados="ngModel">
             <option *ngFor="let periodo of periodos" [value]="periodo.periodo">{{periodo.periodo}}</option>
           </select>
           <div [hidden]="periodosEncontrados.valid || periodosEncontrados.pristine" class="alert alert-danger">
             Periodo es requerido.
           </div>
         </div>
       </div>
     </div>
      <div class="form-group">
        <h3>Seleeccione una Prenda</h3>
        <label for="prenda">Prenda</label>
        <select class="form-control" id="prenda"
                required
                [(ngModel)]="seleccionados.prenda" name="prenda2"
                #prenda2="ngModel">
          <option *ngFor="let prenda of prendas" [value]="prenda.codigo">{{prenda.nombre}}</option>
        </select>
        <div [hidden]="prenda2.valid || prenda2.pristine" class="alert alert-danger">
          Debe seleccionar una prenda.
        </div>
      </div>
      <div class="form-group">
        <h3>Seleeccione una Tipo de tejido</h3>
        <label for="tejido">Tejido</label>
        <select class="form-control" id="tejido"
                required
                [(ngModel)]="seleccionados.tejido" name="tejido2"
                #tejido2="ngModel">
          <option *ngFor="let tejido of tejidos" [value]="tejido.codigo">{{tejido.nombre}}</option>
        </select>
        <div [hidden]="tejido2.valid || tejido2.pristine" class="alert alert-danger">
          Debe seleccionar un tipo de Tejido.
        </div>
      </div>




      <button [disabled]="disabledButtons.NuevoCodigoFormSubmitButton||!NuevoCodigoForm.valid" type="submit"

              class="btn btn-block btn-success">Crear

      </button>


    </form>
    <h3>Para ver todos los codigos registrados <span> <button [routerLink]="['/listarc']" class="btn btn-link">Click Aqui</button></span> </h3>

  </div>
</div>




