<div class="container-fluid">
  <div class="row">
    <div class="col-md-2">
    </div>
    <div class="col-md-8">

      <h2>Lista de Códigos</h2>
      <p>Buscar
        <input type="text" [(ngModel)]="filtroCodigo">
      </p>

      <table class="table" >
        <thead>
        <tr>
          <th>Código</th>
          <th>Estado</th>
          <th>Acción</th>
        </tr>
        </thead>
        <tbody *ngFor="let codigo of codigos">
        <tr>
          <td>{{codigo.codigo}}</td>
          <td>{{codigo.estado}}</td>
          <td>
            <button type="submit" class="btn btn-block btn-info">Cambiar Estado</button>
          </td>
        </tr>

        </tbody>
      </table>
    </div>
    <div class="col-md-2">
    </div>
  </div>
</div>
