<div class="container-fluid">
  <div class="row">
    <div class="col-md-2">
    </div>
    <div class="col-md-8">

      <h2>Lista de Códigos</h2>
      <p>Buscar
        <input type="text" [(ngModel)]="filtroCodigo">
      </p>

      <table class="table" >
        <thead>
        <tr>
          <th>Código</th>
          <th>Estado</th>
          <th>Acción</th>
        </tr>
        </thead>
        <tbody *ngFor="let codigo of codigos">
        <tr>
          <td>{{codigo.codigo}}</td>
          <td>{{codigo.estado}}</td>
          <td>
            <div class="row animated flipInY">

              <div class="col-sm-6">
                <button class="btn btn-block btn-info"
                        (click)="codigo.formularioCerrado = !codigo.formularioCerrado"
                >Cambiar Estado</button>
              </div>
              <div class="col-sm-6">
                <div class="div" [hidden]="codigo.formularioCerrado">

                  <form action="">
                    <form class="animated bounceIn" (ngSubmit)="actualizarEstadoCodigo(codigo)" #NuevoEstadoForm="ngForm">
                      <div class="form-group">
                        <select class="form-control"
                                [(ngModel)]="codigo.estado" name="estado"
                                #estado="ngModel">
                          <option>pendiente</option>
                          <option>aprobado</option>
                          <option>reprobado</option>
                        </select>
                      </div>

                      <button type="submit" class="btn btn-block btn-success">Update
                      </button>

                      <button type="button"
                              class="btn btn-block btn-warning"
                              (click)="codigo.formularioCerrado = !codigo.formularioCerrado">
                        Cancelar
                      </button>
                    </form>
                  </form>
                </div>
              </div>
            </div>
          </td>
        </tr>

        </tbody>
      </table>
    </div>
    <div class="col-md-2">
    </div>
  </div>
</div>
